*{
    padding:0;
    margin:0;
}

body{
    background-color: #fd7729;
    text-align: center;
    height: 100vh;
    justify-content: center;
    display: flex;
}

#mesg{
    color:black;
    font-size: 40px;
    display:flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 5px;
}

.hide{
    display: none;
}
.tit{
    font-size: 50px;
    color:rgb(148, 241, 42);
    padding:4px;
    margin:4px;
    margin-bottom: 2vh;
}

.container{
    padding:3vh;
    height:60vh;
    width:70vh;
    border : 2px solid black;
    justify-content: center;
    display: flex;
    align-items: center;
}

.game{
    height:60vh;
    width: 60vh;
    display:flex;
    flex-wrap: wrap;
    border:1px solid black;
}

.box{
    height:18vh;
    width: 18vh;
    font-size: 10vh;
    border: 1px solid black;
    border-radius: 10px;
    padding:3vh;
    margin:1vh;
    background-color: #f5e3e3;
}

.reset-btn{
    height:8vh;
    width:25vh;
    font-size: 20px;
    margin:5vh;
    border-radius: 20px;
    color: black;
    background-color: rgb(91, 241, 46);
}

